In [65]:
import pandas as pd
import string
import nltk
import numpy as np
import sklearn
import seaborn as sns
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

In [2]:
# Load dataset from metadata file
file=open("/media/spaggy/New Volume/Sem VI/ML/Project/YelpZip/metadata")
data=file.readlines()
file.close()
for ind in range(len(data)):
    data[ind]=data[ind].split()

In [3]:
# Load reviews from reviewcontent file
file2=open("/media/spaggy/New Volume/Sem VI/ML/Project/YelpZip/reviewContent")
text=file2.readlines()
file2.close()
for i in range(len(text)):
    text[i]=text[i].split("\t")
text=[t[3] for t in text]

In [4]:
Dataset=pd.DataFrame(data,columns=["user_id",'product_id','rating','label','date'])
Dataset["review_text"]=text

In [6]:
Dataset['rating']=Dataset['rating'].astype('float')
Dataset['date']=pd.to_datetime(Dataset['date'])
Dataset['day']=Dataset['date'].dt.day_name()

In [7]:
Dataset.head()

,user_id,product_id,rating,label,date,review_text,day
0,5044,0,1.0,-1,2014-11-16,"Drinks were bad, the hot chocolate was watered...",Sunday
1,5045,0,1.0,-1,2014-09-08,This was the worst experience I've ever had a ...,Monday
2,5046,0,3.0,-1,2013-10-06,This is located on the site of the old Spruce ...,Sunday
3,5047,0,5.0,-1,2014-11-30,I enjoyed coffee and breakfast twice at Toast ...,Sunday
4,5048,0,5.0,-1,2014-08-28,I love Toast! The food choices are fantastic -...,Thursday

### Split train-test dataset

In [10]:
y=pd.DataFrame({'label':Dataset["label"]})
x=Dataset.drop(['label'],axis=1)
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

### Hand Crafted Features

In [90]:
# X_train['upper_case_word_count']=X_train['review_text'].apply(lambda x:len([y for y in x.split() if y) )
#Train Dataset
#Review centric features
X_train['word_count']=X_train['review_text'].apply(lambda x: len(x.split()))
X_train['punctuation_count']=X_train['review_text'].apply(lambda x: len(''.join(c for c in x if c in string.punctuation)))
X_train['char_count']=X_train['review_text'].apply(lambda x: len(x))
X_train['title_count']=X_train['review_text'].apply(lambda x: len([word for word in x.split() if word.istitle()]))
print("-----------review_centric features extracted-------------/")
# user-centric features
X_train['user_id_no_of_review'] = X_train.groupby('user_id')['user_id'].transform('size')
X_train['user_id_ave_rating'] = X_train.groupby('user_id')['rating'].transform('mean')
X_train['user_id_ave_no_words'] = X_train.groupby('user_id')['word_count'].transform('mean')
X_train['user_id_max_review_a_day'] = X_train.groupby(['user_id','day'])['user_id'].transform('size')
print("-----------user_centric features extracted-------------/")
#Product centric feature
X_train['product_id_no_of_review']=X_train.groupby('product_id')['product_id'].transform('size')
X_train['product_id_ave_rating']=X_train.groupby('product_id')['rating'].transform('mean')
X_train['product_id_ave_no_of_words']=X_train.groupby('product_id')['word_count'].transform('mean')
X_train['product_id_max_review_a_day']=X_train.groupby(['product_id','day'])['user_id'].transform('size')
print("-----------product_centric features extracted-------------/\n\n")

#Test dataset
X_test['word_count']=X_test['review_text'].apply(lambda x: len(x.split()))
X_test['punctuation_count']=X_test['review_text'].apply(lambda x: len(''.join(c for c in x if c in string.punctuation)))
X_test['char_count']=X_test['review_text'].apply(lambda x: len(x))
X_test['title_count']=X_test['review_text'].apply(lambda x: len([word for word in x.split() if word.istitle()]))
print("-----------review_centric features extracted-------------/")
# user-centric features
X_test['user_id_no_of_review'] = X_test.groupby('user_id')['user_id'].transform('size')
X_test['user_id_ave_rating'] = X_test.groupby('user_id')['rating'].transform('mean')
X_test['user_id_ave_no_words'] = X_test.groupby('user_id')['word_count'].transform('mean')
X_test['user_id_max_review_a_day'] = X_test.groupby(['user_id','day'])['user_id'].transform('size')
print("-----------user_centric features extracted-------------/")
#Product centric feature
X_test['product_id_no_of_review']=X_test.groupby('product_id')['product_id'].transform('size')
X_test['product_id_ave_rating']=X_test.groupby('product_id')['rating'].transform('mean')
X_test['product_id_ave_no_of_words']=X_test.groupby('product_id')['word_count'].transform('mean')
X_test['product_id_max_review_a_day']=X_test.groupby(['product_id','day'])['user_id'].transform('size')
print("-----------product_centric features extracted-------------/")

-----------review_centric features extracted-------------/
-----------user_centric features extracted-------------/
-----------product_centric features extracted-------------/

/home/spaggy/.local/lib/python2.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/spaggy/.local/lib/python2.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/spaggy/.local/lib/python2.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/spaggy/.local/lib/python2.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

-----------review_centric features extracted-------------/

/home/spaggy/.local/lib/python2.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/spaggy/.local/lib/python2.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/spaggy/.local/lib/python2.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/spaggy/.local/lib/python2.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/spaggy/.local/lib/python2.7/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

-----------user_centric features extracted-------------/

/home/spaggy/.local/lib/python2.7/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/spaggy/.local/lib/python2.7/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

-----------product_centric features extracted-------------/

/home/spaggy/.local/lib/python2.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [63]:
X_train.head()

,user_id,product_id,rating,date,review_text,day,word_count,punctuation_count,char_count,title_count,user_id_no_of_review,user_id_ave_rating,user_id_ave_no_words,user_id_max_review_a_day,product_id_no_of_review,product_id_ave_rating,product_id_ave_no_of_words,product_id_max_review_a_day
497700,219499,4144,5.0,2014-05-17,The food is soooo good! Staff was very nice. T...,Saturday,37,8,202,7,2,4.500000,37.500000,1,377,3.822281,103.779841,59
77823,8337,710,5.0,2014-04-16,Mama's is amazing. Expect a line during peak t...,Wednesday,27,8,149,2,109,3.807339,136.183486,15,287,4.393728,86.344948,58
377919,193771,3237,5.0,2010-04-12,Best pie in NY. The flavor from the ovens rea...,Monday,87,13,465,6,1,5.000000,87.000000,1,3269,3.926583,86.724686,525
14461,18340,114,5.0,2013-09-09,"Best burger, great drinks and friendly staff.....",Monday,11,6,71,1,1,5.000000,11.000000,1,345,4.005797,112.208696,67
115424,82586,4363,4.0,2014-12-31,This place well-known and for a good reason. I...,Wednesday,28,4,159,3,5,4.000000,35.400000,1,836,4.250000,134.404306,110

In [61]:
X_test.head()

,user_id,product_id,rating,date,review_text,day
297409,5781,419,3.0,2011-04-10,I always pass by this place and finally had th...,Sunday
456846,219850,3859,5.0,2012-12-05,ABSOLUTE BEST FOOD I HAVE HAD IN A LONG TIME!!...,Wednesday
113731,57135,424,4.0,2007-07-27,"Great festive atmosphere, excellent caprihnias...",Friday
310015,169065,2377,4.0,2013-12-09,"The sandwiches are really good. Unfortunately,...",Monday
177212,113186,4864,4.0,2010-04-14,I went to Minetta Tavern for the first time on...,Wednesday

In [ ]:
count_vect=CountVectorizer(analyzer='word',stop_words='english')
count_vect.fit(X_train.review_text)
X_train_count=count_vect.transform(X_train.review_text)
X_test_count =count_vect.transform(X_test.review_text)

LR= LogisticRegression()
LR.fit(X_train_count,y_train)
predictions_train=LR.predict(X_train_count)
predictions_test=LR.predict(X_test_count)

### Text Preprocessing

In [32]:
# lowercase,remove digits,punctuations,expand contractions

In [9]:
Dataset.shape

(608598, 7)

In [74]:
LR= LogisticRegression()
LR.fit(X_train_count,y_train)
predictions_train=LR.predict(X_train_count)
predictions_test=LR.predict(X_test_count)

/home/spaggy/.local/lib/python2.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/spaggy/.local/lib/python2.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [89]:
from sklearn.metrics import classification_report
print(classification_report(y_train,predictions_train))

print(classification_report(y_test,predictions_test))

              precision    recall  f1-score   support

          -1       0.84      0.16      0.27     56071
           1       0.89      1.00      0.94    369947

   micro avg       0.89      0.89      0.89    426018
   macro avg       0.86      0.58      0.61    426018
weighted avg       0.88      0.89      0.85    426018

              precision    recall  f1-score   support

          -1       0.41      0.07      0.13     24395
           1       0.87      0.98      0.93    158185

   micro avg       0.86      0.86      0.86    182580
   macro avg       0.64      0.53      0.53    182580
weighted avg       0.81      0.86      0.82    182580

In [86]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train,predictions_train))

0.8857888633813594

In [87]:
print(accuracy_score(y_test,predictions_test))

0.8621535765144046

In [79]:
from sklearn.metrics import classification_report
y_true = [0, 1, 2, 2, 2]
y_pred = [0, 0, 2, 2, 1]
target_names = ['class 0', 'class 1', 'class 2']
print(classification_report(y_true, y_pred))# target_names=target_names))

              precision    recall  f1-score   support

           0       0.50      1.00      0.67         1
           1       0.00      0.00      0.00         1
           2       1.00      0.67      0.80         3

   micro avg       0.60      0.60      0.60         5
   macro avg       0.50      0.56      0.49         5
weighted avg       0.70      0.60      0.61         5